<h1>Multi-Location Weather Finder</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<% if params[:query].present? %>
    <p>City Name: <%=@city_name%></p>
    <p>Current Temperature: <%= @current_temp%></p>

    <br>

    <% @orders.each do |index, each| %>
    <p> <%= index %> <%= each %> </p> 
    <% end %>
    <% end %>


