<h1>Multi-Location Weather Finder</h1>
<p>Find me in app/views/home/index.html.erb</p>


<%= @output2['current'] %>  

<%= @output2['daily']  %> 

<%= @output2['latitude'] %> 

 <%= @output2['longitude'] %> 


<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

